
@model Parcial2.Models.Cliente
@{ 
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Lista De Clientes</h3>
<h2>@Model.Nombre</h2>
<h2>@Model.Apellido</h2>
<h2>@Model.sueldo</h2>

